<div class="crowd-voice_section">
    <div class="crowd-voice_text"></div>
    <form class="crowd-voice_text-add __status-success">
        <div class="crowd-voice_text-add_editor">
            <textarea class="crowd-voice_text-add_txt" name="crowd-voice_text-add_txt" placeholder=""></textarea>
            <div class="crowd-voice_text-add_status"></div>
        </div>
        <div class="jcol-l">
            <button title="submit" class="crowd-voice_text-add_send source_btn"></button>
        </div><div class="jcol-r">
            <a href="#777" class="crowd-voice_text-add_delete"></a>
        </div>
    </form>
</div>